<%= form_for @platform, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :sysname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sysname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :release, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :release, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :version, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :version, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :machine, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :machine, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                platforms_path, :class => 'btn' %>
  </div>
<% end %>
