<h1>Listing test_runs</h1>

<table>
  <tr>
    <th>Sysname</th>
    <th>Release</th>
    <th>Version</th>
    <th>Machine</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_runs.each do |test_run| %>
  <tr>
    <td><%= test_run.sysname %></td>
    <td><%= test_run.release %></td>
    <td><%= test_run.version %></td>
    <td><%= test_run.machine %></td>
    <td><%= test_run.notes %></td>
    <td><%= link_to 'Show', test_run %></td>
    <td><%= link_to 'Edit', edit_test_run_path(test_run) %></td>
    <td><%= link_to 'Destroy', test_run, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test run', new_test_run_path %>
