<%- model_class = Batch.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Platform</th>
      <th>Host</th>
      <th>Processor</th>
      <th>Cores</th>
      <th>Submitted</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <% @batches.each do |batch| %>
      <tr>
        <td><%= batch.platform.name %></td>
        <td><%= batch.host %></td>
        <td><%= batch.processor %></td>
        <td><%= batch.cores %></td>
        <td><%=l batch.created_at %></td>
        <td><%= batch.notes %></td>
      </tr>
    <% end %>
  </tbody>
</table>
