<h1>Runs for <%= @batch.platform.name %></h1>
<p><%= @batch.platform.details %></p>

<ul>
  <% @batch.backends.each do |backend| %>
    <li><%= link_to backend, "##{backend.gsub(' ', '')}" %></li>
  <% end %>
</ul>

<% @batch.backends.each do |backend| %>
<h2 id="<%= backend.gsub(' ', '') %>" style="padding-top: 60px"><%= backend %></h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Threads</th>
        <th>Message Size</th>
        <th>Seconds</th>
      </tr>
    </thead>
    <tbody>
      <% @batch.runs.where(:backend => backend).each do |run| %>
        <tr>
          <td><%= run.threads %></td>
          <td><%= run.msg_size %></td>
          <td><%= run.seconds %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


