<%= form_for(@test) do |f| %>
  <% if @test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% @test.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :threads %><br />
    <%= f.number_field :threads %>
  </div>
  <div class="field">
    <%= f.label :seconds %><br />
    <%= f.text_field :seconds %>
  </div>
  <div class="field">
    <%= f.label :msg_size %><br />
    <%= f.number_field :msg_size %>
  </div>
  <div class="field">
    <%= f.label :test_run %><br />
    <%= f.text_field :test_run %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
